* {
  border: none;
  border-radius: 0;
  font-family: Cantarell, monospace;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}


#workspaces button {
  padding: 5px;
  border-radius: 10px;
  margin-right: 0px;
}

#workspaces button.active {
  background: rgba(191, 97, 106, .9);
  border-radius: 10px;
}

#workspaces button.focused {
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}


#custom-launcher,
#custom-updates,
#custom-weather,
#workspaces,
#window,
#cpu,
#temperature,
#memory,
#tray,
#pulseaudio,
#backlight,
#battery,
#clock,
#custom-powermenu {
  background: rgba(21, 18, 27, .6);
  padding: 0px 5px;
  margin: 0px 0px;
  margin-top: 5px;
  border: 1px rgba(21, 18, 27, .6);
}

#custom-launcher {
  background: rgba(191, 97, 106, .9);
  border-radius: 10px;
  border-right: 0px;
  margin-left: 6px;
  margin-right: 4px;
}

#custom-updates {
  color: rgba(21, 18, 27, .6);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 4px;
}

#custom-weather {
  color: rgba(21, 18, 27, .6);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 4px;
}

#workspaces {
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#temperature.critical {
  color: rgba(255, 16, 16, .6);
}

#memory {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 4px;
}

#tray {
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 4px;
}

#pulseaudio.muted {
  color: rgba(21, 18, 27, .6);
  background: rgba(191, 97, 106, .9);
}

#pulseaudio.microphone {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 4px;
}

#pulseaudio.microphone.muted {
  color: rgba(21, 18, 27, .6);
  background: rgba(191, 97, 106, .9);
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-right: 4px;
}

#battery.charging {
  color: rgba(18, 200, 71, .6);
}

#battery.warning:not(.charging) {
  color: rgba(213, 142, 29, .6);
}

#battery.critical:not(.charging) {
  color: rgba(255, 16, 16, .6);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: rgba(21, 18, 27, .6);
  background: #fab387;
  border-radius: 10px;
  border-right: 0px;
  margin-right: 4px;
}

#custom-powermenu {
  background: rgba(191, 97, 106, .9);
  border-radius: 10px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 6px;
}
